{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password form-signin">
    <h2 class="form-signin-heading">{{ 'change_password.submit'|trans }}</h2>
    {{ form_widget(form) }}
    <div>
        <input type="submit" class="btn btn-large btn-primary" value="{{ 'change_password.submit'|trans }}" />
    </div>
</form>
