{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">
    <p><div class="labelUp">{{ 'profile.show.username'|trans }}: </div>{{ user.username }}</p>
    <p><div class="labelUp">{{ 'profile.show.email'|trans }}: </div>{{ user.email }}</p>
    <p><div class="labelUp">{{ 'form.password'|trans }} </div> **************</p>
</div>
